:root{
  --main-color:#ff385c;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  background-color: transparent;
  border: none;
}
/* 헤더 */
header{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  height: 80px;
  align-items: center;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}
#little-search{
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 48px;
  height: 48px;
  box-sizing: border-box;
  min-width: 330px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 /5%);
  cursor: pointer;
}
#little-search:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  transition: all .2s ease-in;
}
#little-search *{
  cursor: pointer; /* little-search 안의 모든 요소 선택자 */
}
#little-search button{
  display: block;
  flex-shrink: 0;
  padding: 0 16px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34,34,34);
}
#little-search button:nth-of-type(3){
  color: #717171;
}
#logo{
  height: 64px;
  cursor: pointer;
}
.divider{
  display: block;
  flex-shrink: 0;
  flex-basis: 1px;
  height: 24px;
  background-color: #ddd;
}
.maginfiying-glass-wrapper{
  background-color: var(--main-color);
  flex-basis: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  flex-shrink: 0; /*줄어들지 않음*/
  align-items: center;
  border-radius: 50%;
}
.maginfiying-glass-icon{
  width: 12px;
}
#header-right-section{
  display: flex;
  gap: 8px;
  align-items: center;
}
.do-airbnb{
  border-radius: 22px;
  padding:12px;
  font-size: 14px;
  color: #222;
  font-weight: 600;
  cursor: pointer;
}
.do-airbnb:hover{
  background-color: #f7f7f7;
}
.global-btn{
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 22px;
}
.global-btn:hover{
  background-color: #f7f7f7;
}
.profile-section{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 5px 5px 12px ;
  border: 1px solid #ddd;
  border-radius: 21px;
  cursor: pointer;
}
.profile-section:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
  transition: all .2s ease-in;
}

/* 카테고리 */
#category-bar{
  display: flex;
  gap: 32px;
  padding: 20px 40px 0;
  overflow: auto;
}
#category-bar::-webkit-scrollbar{
  display: none;
}
.category-button{
  opacity: 0.6425339366515838;
  color: #717171;
  height: 70px;
  padding: 14px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.category-button div{
  white-space: nowrap;
}
.category-button img{
  width: 28px;
}
.category-button:hover{
  opacity: 1;
  color: #222;
  border-bottom: 2px solid #ddd;
}
#category-active{
  color: #222;
  border-bottom: 2px solid #ddd;
  opacity: 1;
}


main{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 80px;
  margin-top: 30px;
}
.place-itmes-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 308px);
  justify-items: center;
  align-items: center;
  gap: 40px 24px;
}
.place-image-wrapper{
  width: 308px;
  overflow: hidden;
  height: 293px;
  position: relative;
  border-radius: 23px;
}
.place-image-wrapper img{
  width: 500px;
  height: 500px;
}
.place-image-wrapper .heart-icon{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.description-section{
  margin-top: 13px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: rgb(34, 34, 34);
}
.description-section_title{
  font-weight: 600;
}
.heart-icon:active{
  transform: scale(0.5);
  transition: 0.25s ease;
}

#floating-map-button{
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 14px 19px;
  bottom: 125px;
  left: 50%;
  border-radius: 24px;
  position:fixed;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
}
#floating-map-button:hover{
  transform:translateX(-50%) scale(1.04);
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px rgba(0,0,0,0.12) !important;
}